*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.body__index{
    width: 100%;
}

/* estilos del conteines */
.div__principal__index{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 0.2fr 3fr auto;
    grid-template-areas: "header__index"
                         "main__index"
                         "footer__index";
}

.nav-item{
    font-size: 25px;
}

.header__index{
    grid-area: header__index;
    background-color: rgb(119, 109, 95);
    height: 150px;
}


.logo__index{
    width: 40%;
    transform: translateX(100px);
}


.main__index{
    grid-area: main__index;
    width: 100%;

}

.letras__index__imagen{
    font-size: 2rem;
    color: white;
}

.section__1{
    width: 100%;
}

.section__2{
    background-color: rgba(2, 2, 2, 0.651);
    display: flex;
    justify-content: space-around;
    width: 100%;
}



.section__3{
    background-color: white;
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 120px;
}


.redes{
    margin-top: 2cm;
    
}



.footer__index{
    grid-area: footer__index;
    /* Generamos gradiente desde la web https://mycolor.space/ */
    background-image: linear-gradient(to top, white, rgba(2, 2, 2, 0.651));
    color: black;
    font-size: larger;
    
   
}




.fondo__div__section1{
    background-image: url("../../Primer Entrega/img/LogoInicio.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
}




/* GALERIA */

.body__galeria{
    background-color: lightgrey;
    font-family: sans-serif;
}

.div__principal__galeria{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 0.2fr 3fr auto;
    grid-template-areas: "header__galeria"
                         "main__galeria"
                         "footer__galeria";
}




.header__galeria{
    grid-area: header__galeria;
    background-color: rgb(119, 109, 95);
}

.nav__header__galeria{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.logo__galeria{
    width: 40%;
    transform: translateX(100px);
}

.anclas__galeria{
    text-decoration: none;
    font-size: 2rem;
    color: black
    
}

.anclas__galeria:hover{
    color:white
}

.enlaces__galeria{
    width: 100%;
    display: flex;
    list-style: none;
    /* Separa los enlaces para que no esten pegados */
    justify-content: space-around;
}


.section1__galeria{
    width: 100%;
    right: 1000px;

    background-color: black
}

/* SLIDER DE GALERIA CON IMAGENES */
.div__parrafo{
    background-color: black;
}
.parrafo__galeria{
    color: rgb(190, 181, 181);
    font-size: x-large;
}

.container{
    margin: auto;
    background-color: black;
    width: 1100px;
    height: 600px;
    padding: 20px;
  }
  
  ul, li {
      padding: 0;
      margin: 0;
      list-style: none;
  }
  
  ul.slider{
    position: relative;
    width: 1100px;
    height: 510px;
  }
  
  ul.slider li {
      position: absolute;
      left: 0px;
      top: 0px;
      opacity: 0;
      width: inherit;
      height: inherit;
      transition: opacity .5s;
      background:#fff;
  }
  
  ul.slider li img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  ul.slider li:first-child {
      opacity: 1; /*Mostramos el primer <li>*/
  }
  
  ul.slider li:target {
      opacity: 1; /*Mostramos el <li> del enlace que pulsemos*/
  }
  
  .menu{
    text-align: center;
    margin: 20px;
  }
  
  .menu li{
    display: inline-block;
    text-align: center;
  }
  
  .menu li a{
    display: inline-block;
    color: black;
    text-decoration: none;
    background-color: grey;
    padding: 10px;
    width: 40px;
    height: 40px;
    font-size: 20px;
    border-radius: 100%;
  }

.section2__galeria{
    background-color: rgba(2, 2, 2, 0.651);
    justify-content: space-around;
    width: 100%;
}

.main__galeria{
    grid-area: main__galeria;
    width: 100%;
}

.footer__galeria{
    grid-area: footer__galeria;
    background-image: linear-gradient(to top, white, rgba(2, 2, 2, 0.651));
    color: black;
    font-size: larger;
}



/* NOSOTROS */

.div__principal__nosotros{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 0.2fr 3fr auto;
    grid-template-areas: "header__nosotros"
                         "main__nosotros"
                         "footer__nosotros";
}




.header__nosotros{
    grid-area: header__nosotros;
    background-color: rgb(119, 109, 95);
}

.nav__header__nosotros{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.logo__nosotros{
    width: 40%;
    transform: translateX(100px);
}

.anclas__nosotros{
    text-decoration: none;
    font-size: 2rem;
    color: black
    
}

.anclas__nosotros:hover{
    color:white
}

.enlaces__nosotros{
    width: 100%;
    display: flex;
    list-style: none;
    /* Separa los enlaces para que no esten pegados */
    justify-content: space-around;
}


.section1__nosotros{
    background-color: rgba(2, 2, 2, 0.651);
    font-size: x-large;
    color: gainsboro;
  
}

.section2__nosotros{
    background-color: rgba(2, 2, 2, 0.651);
}

.section3__nosotros{
    background-color: rgb(119, 109, 95);
    color: black
}

.main__nosotros{
    grid-area: main__nosotros;
    width: 100%;
}

.footer__nosotros{
    grid-area: footer__nosotros;
    background-image: linear-gradient(to top, white, rgb(119, 109, 95));
    color: black;
    font-size: larger;
}

.color__titulo{
    color: black;
}

.nuestrahistoria{
    width: 80%;
}

/* CONTACTO */

.body__contacto{
    width: 100%;
}

.div__principal__contacto{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 0.2fr 4fr auto;
    grid-template-areas: "header__contacto"
                         "main__contacto"
                         "footer__contacto";
}



.header__contacto{
    grid-area: header__contacto;
    background-color:rgb(119, 109, 95);
}

.nav__contacto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.logo__contacto{
    width: 40%;
    transform: translateX(100px);
}

.anclas__contacto{
    text-decoration: none;
    font-size: 2rem;
    color: black
    
}

.anclas__contacto:hover{
    color:white
}

.enlaces__contacto{
    width: 100%;
    display: flex;
    list-style: none;
    /* Separa los enlaces para que no esten pegados */
    justify-content: space-around;
}

.main__contacto{
    grid-area: main__contacto;
    background-color: rgba(2, 2, 2, 0.651);
    width: 100%;

}

.letras__index__imagen{
    font-size: 2rem;
    color: white;
}

.section1__contacto{
    width: 100%;
}



.footer__contacto{
    grid-area: footer__contacto;
    background-image: linear-gradient(to top, white, rgba(2, 2, 2, 0.651));
    color: black;
    font-size: larger;
}




.fondo__div__section1{
    background-image: url("../../Primer Entrega/img/LogoInicio.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
}

.fondo__formulario{
    background-image: url("../img/FondoHilosContacto2.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
}
.contenedora__Cotizacion{
    background-color: rgba(2, 2, 2, 0.651);
    color: white;
    width: 100%;
    font-size: xx-large;
}
.datos__personales{
    color: white;
}

textarea{
    width:400px;
    height:100px;
    border:1px solid #f6f6f6;
    border-radius:3px;
    background-color:#f6f6f6;           
    margin:8px 0;
    /*resize: vertical | horizontal | none | both*/
    resize:none;
    display:block;
}




.logo__redes{
    display: inline-block; 
    animation: float 4s ease-in-out infinite;
}

.logo__redes1{
    transform: translate(-1px, -60px);
}

@keyframes float {
    0%{
        transform: translateY(0); /*The starting point of the animation is 0.*/
    }
    50%{
        transform: translateY(-25px); /*The middle point of the animation is -15xp. This will move the element up.*/
    }
    100%{
        transform: translateY(0); /*The last point of the animation is going back to the starting state of 0.*/
    }
}

.parrafo__redes{
    display: grid;
    transform: translate(-1px, -70px);
    font-size: x-large;
    
}
